/* body{
    outline: red dashed 1px;


}

./* button-row {
   
    display: flex; /* make the row a flex container */
    justify-content: space-between; /* distribute the buttons equally */
    align-items: center; /* center the buttons vertically */
  }
  
 /*  .button-row p { */
/*   
    margin: 0; /* remove the default margin */
  }  */ */ */